{{#if title}}<h1>{{title}}</h1>{{/if}}

{{#each products}}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="img_wrap">
            <img src="{{this.image}}" alt="{{this.product_name}}">
        </div>
        <div class="caption">
            <h4>{{this.product_name}}</h4>
            <div class="clearfix">
                <div class="price">
                    <strong>$ {{this.price}}</strong>
                </div>
                <a href="/details/{{this.product_id}}" class="btn btn-info pull-left" role="button">Details</a>
                <a href="/add-to-cart/{{this.product_id}}" class="btn btn-success pull-right" role="button">Add to cart</a>
            </div>

            {{!-- <p>{{this.product_s_desc}}</p> --}}

        </div>
    </div>
</div>
{{/each}}
</div>